

template(name='doc_transactions')
    .ui.horizontal.divider.header Transaction History
    .ui.divided.items
        each transactions
            +transaction

        


template(name='transaction')
    .ui.item
        .content
                h4.ui.header Bought by #{from.username}
            .meta #{when}
            if vote
                |#{vote}
            if can_vote
                +voting